.content {
    padding: 0 40px 0px 40px;
    margin: 48px 0px 40px 300px;
}

.card {
    border-radius: 18px !important;
}

.table th, td{
    text-align: center;
}

.btn-cancel {
    padding: 0px 0px !important;
    box-shadow: none !important;
    color:red !important;
}

table.table tr td .btn-cancel { 
    display: none;
}

table.table tr:hover td .btn-cancel { 
    display: inline-block;
}

.table th.actions {
    visibility: hidden;
}

.modal_btn {
    width: 80px;
}

@media screen and (max-width: 900px) {
    .content {
        padding: 0 10px 10px 10px;
        margin-left: 5px;
        margin-top: 5rem;
    }
}

@media screen and (max-height: 491px) {
    .content {
        padding: 0 10px 10px 10px;
        margin-left: 5px;
        margin-top: 5rem;
    }
}